<%- include("partials/header.ejs") -%>
<div class="heading">
    <img src="images/friends.jpg" style="width:65%;">
</div>
<div class="box1" style="margin-top:10%;width:1500px;font-size:50px;">
    <form action="/" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="userName"placeholder="Enter your Name" autocomplete="off" style="font-size:30px;"> 
          </div>
          <button type="submit" class="btn btn-primary" style="margin-left:30%;width:400px;font-size:30px">Attempt Quiz</button>
        </form>
</div>

<%- include("partials/footer.ejs") -%>